.NoteForm input[type="textarea"]{

padding: 2rem;
width: 15rem;    

}

.NoteForm input[type="button"]{

float: right;
color: white;
background: #019875;
border-radius: .5rem;
height: 3rem;
width: 6rem;
text-align: center;
}


.NoteForm input[type="button"]:hover{

    background-color: #02bab5;

}

