.Note{


    
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
 


padding: 1rem;
    color: #000;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 200px;
    height: 200px;

    float: left;

}

.Note input[type = image]{

    width:1.5rem;
    float: right;
}

#edit{

    float: left;
}

.Note h2 {
    margin-bottom:10%;
}






@media (max-width: 576px){


    .Note{


    
        background: #4CA1AF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           
     
    
    
    padding: 1rem;
        color: #000;
        margin-top: 2rem;
        margin-left: 2rem;
        width: 80%;
        height: auto;
    
        float: left;
    
    }
    
    .Note input[type = image]{
    
        width:1.5rem;
        float: right;
    }
    
    #edit{
    
        float: left;
    }
    
    .Note h2 {
        margin-bottom:10%;
    }
    
    
    




}



@media (max-width: 512px){


    .Note{


    
        background: #4CA1AF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           
     
    
        
        padding: 5px;
        color: #000;
        margin-top: 2rem;
        margin-left: 2rem;
        width: 80%;
        height: auto;
    
        float: left;
    
    }
    
    .Note input[type = image]{
    
        width:1.5rem;
        float: right;
    }
    
    #edit{
    
        float: left;
    }
    
    .Note h2 {
        margin-bottom:10%;
        font-size: 1.7rem
    }
    
    

}