.NotesStart button{

    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
  
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    border-radius: 6px;



}

.NotesStart input[type=button]{

    text-decoration: none;
    -webkit-text-stroke: .5px pink;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    
    color: #ffffff;
    
    background: #4CB8C4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   

    width:250px ;
    margin:10px;
    border-radius: 10px;
}

.NotesStart input[type= text], input[type=password]{

    margin: 10px;
    padding: 10px;
    width: 250px;
}


.catImage{
    width: 10rem;
    border-radius: 50%;
  }


  center{

font-size: 2rem;

  }

.NotesStart{

    margin: 2%;
}