body {

  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  
  color: white;  
  text-align: center;
  font-family: 'Poiret One', cursive;
  
}

*{
  padding: 0;
  margin: 0;

}

.notesFooter, .noteStart {

  background-color: rgba(0,0,0,.2);
  padding: 2%;
  margin: 0 auto;
  border-radius:1rem;

}

.notesHeader{

  font-family: 'Poiret One', cursive;
  font-size: 2rem; 
  text-align:end;
  float:right;
  width:30%;
  padding: 2%;
 

}

.notesBody{

  margin-top: 20px;
  float: left;
  width: 62%;
  padding-top:2%;
  padding-bottom:2%;

  background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 8%, rgba(204,176,134,1) 21%, rgba(193,158,103,1) 35%, rgba(209,175,123,1) 48%, rgba(193,158,103,1) 61%, rgba(217,183,133,1) 76%, rgba(193,158,103,1) 89%, rgba(233,212,179,1) 100%);

  border-radius: 1rem;
  border-color:white;
  border: 1rem;
  border-style: double;

}

.notesFooter{
  margin-top: 20px;
  float: right;
  width: 30%;
}

.noteStart{
  margin-top: 30px;
  width: auto%;
  text-align:left;
  padding-left: 5%;
 
}

input[type="button"]{

  color: white;
  background: #019875;
  border-radius: .5rem;
  height: 3rem;
  width: 6rem;
 
  }
  
  
  input[type="button"]:hover{
  
      background-color: #02bab5;
  
  }

.logout{

    width:8rem;
    position:relative;
 

  }

