body {
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;  
  text-align: center;
  font-family: 'Poiret One', cursive;
  
}

*{
  padding: 0;
  margin: 0;

}

.notesHeader, .notesBody, .notesFooter, .noteStart {

  background-color: rgba(0,0,0,.4);
  padding: 2%;
  margin: 0 auto;


}

.notesHeader{

  font-family: 'Poiret One', cursive;
  font-size: 2rem;  
    
}

.notesBody{

  margin-top: 20px;
  float: left;
  width: 55%;
}

.notesFooter{
  margin-top: 20px;
  float: right;
  width: 35%;
}


.catImage{
  width: 13rem;
  border-radius: 50%;
}